<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/" th:replace="base::layout(~{::section})">

<head>
	<meta charset="UTF-8">
	<title>Home</title>
</head>

<body>
	<section class="banner ">
		<div class="text-center">
			<h1 class="font-weight-bold">Smart Contact Manager</h1>
			<p>Here are smart tool for store yout contacts. Access Your Contact from everwhere and everytime</p>
			<button class="btn bg-new btn-lg text-white">Gat Started</button>
		</div>
	</section>
</body>

</html>