<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/" th:replace="~{userbase::layout(~{::section})}">

<head>
	<meta charset="UTF-8">
	<title>About</title>
</head>

<body>
<section>

	<div class="about-section">
		<h2> Smart Contact Manager</h2>
		<p>Smart Contact Manager is a web-based application designed to help users manage their contacts efficiently. With Smart Contact Manager, users can store their contacts securely on the cloud and access them from anywhere, anytime.</p>
		<h3>User Dashboard</h3>
		<p>Key features:</p>
		<ul>
			<li>View contacts</li>
			<li>Add Contact</li>
			<li>See specific contact after clicking on any contact email</li>
			<li>View own profile</li>
		</ul>
		<p>Smart Contact Manager is developed using modern web technologies to provide a seamless user experience.</p>
	</div>

</section>
</body>

</html>




