<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/" th:replace="~{userbase::layout(~{::section})}">

<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>

<body>
<section>

    <div class="card mr-3 ml-3" >
        <div class="card-body">
            <h1 class="text-centre">All Contact</h1>

            <table class="table">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">PhoneNo</th>
                    <th scope="col">Email</th>
                    <th scope="col">Acction</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="c:${contact}">
                    <th scope="row" th:text="${c.cId}">1</th>
                    <td >
                        <img class="my_pp" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="img">
                        <span th:text="${c.name}"></span></td>
                    <td th:text="${c.phone}">Otto</td>
                    <td >
                        <a href="" th:href="@{'/user/contact/'+${c.cId}}"> <span th:text="${c.email}"></span></a>
                    </td>
                    <td>
                        <form action="" th:action="@{'/user/update-contact/'+${c.cId}}"  class="mb-3">
                            <button type="submit" class="btn btn-success btn-sm"> Update</button>
                        </form>

                       <a href="#" th:onclick="|deleteContact(${c.cId})|" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>

                </tbody>
            </table>

            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li th:if="${currentPage != 0}" class="page-item">
                        <a class="page-link" th:href="@{'/user/view-contact/'+${currentPage-1}}" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li th:classappend="${currentPage==i-1?'active':''}" th:each="i:${#numbers.sequence(1,totalPage)}" class="page-item"><a class="page-link" th:href="@{'/user/view-contact/'+${i-1}}" href="#"><span th:text="${i}"></span></a></li>

                    <li th:if="${currentPage+1 != totalPage}" class="page-item">
                        <a class="page-link" th:href="@{'/user/view-contact/'+${currentPage+1}}" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>
    </div>



</section>
</body>

</html>